.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.containerLinks {
  padding-left: 64px;
  padding-right: 64px;
  padding-bottom: 24px;
  display: flex;
  justify-content: flex-start;
  margin: 0 auto;
  gap: 40px;
}

.link {
  position: relative;
  color: var(--main);
}

.active::after {
  content: '';
  width: 100%;
  height: 4px;
  border-radius: 2px;
  position: absolute;
  bottom: -24px;
  left: 0;
  background-color: var(--button);
}

.wrap {
  padding: 44px 64px 52px;
  width: 1312px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  gap: 40px;
}
