.container {
  width: 360px;
  height: 752px;
}

.locationWrap {
  margin-bottom: 40px;
}

.locationText {
  font-weight: 400;
  line-height: 24px;
  color: var(--gray);
  margin-bottom: 8px;
}

.inputContainer {
  position: relative;
}

.inputSvg {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  fill: var(--gray);
}

.input {
  width: 360px;
  height: 56px;
  background-color: var(--inputs);
  color: var(--main);
  border: transparent;
  border-radius: 12px;
  padding: 16px 0;
  padding-left: 48px;
}

.input:focus {
  outline: none;
}

.input:focus + .inputSvg {
  fill: var(--main);
}

.filterText {
  margin-bottom: 32px;
  color: var(--text);
}

.title {
  padding-bottom: 24px;
  font-weight: 600;
  line-height: 24px;
  font-size: 20px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 12px 8px;
  justify-content: start;
  align-items: center;
  padding-top: 24px;
  margin-bottom: 32px;
  border-top: 1px solid var(--gray-light);
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border: 1px solid var(--gray-light);
  width: 112px;
  height: 96px;
  border-radius: 12px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item:hover,
.item:focus {
  border-color: var(--button-hover);
}

.btn {
  margin-top: 8px;
}
