:root {
  font-family: 'Inter', sans-serif;
  background-color: var(--white);

  --main: #101828;
  --text: #475467;
  --gray: #6c717b;
  --button: #e44848;
  --button-hover: #d84343;
  --rating: #ffc531;
  --gray-light: #dadde1;
  --badges: #f2f4f7;
  --inputs: #f7f7f7;
  --white: #ffffff;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  line-height: 32px;
  overflow: hidden;
  box-sizing: border-box;
}

h1,
h2,
h3,
p {
  padding: 0;
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

img {
  height: auto;
  display: block;
  width: 100%;
}

button {
  border-radius: 200px;
  width: 173px;
  height: 56px;
  border: none;
  background-color: var(--button);
  color: var(--white);
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

button:hover,
button:focus,
button:active {
  background-color: var(--button-hover);
  transform: scale(0.98);
}

a {
  text-decoration: none;
}
